In [20]:
import pandas as pd
from sqlalchemy import create_engine

In [56]:
table = (
    pd.read_html("https://en.wikipedia.org/wiki/Alt_code#List_of_codes")[1][["Unicode.1", "CP437", "Unicode name"]]
    .rename(columns={"Unicode.1": "Unicode", "CP437": "Alt Code", "Unicode name": "Description"})
)
table["Unicode"] = table.Unicode.apply(lambda x: chr(int(x[-4:], 16)))
table.head()

  Unicode  Alt Code                Description
0             255.0             NO-BREAK SPACE
1       ¡     173.0  INVERTED EXCLAMATION MARK
2       ¢     155.0                  CENT SIGN
3       £     156.0                 POUND SIGN
4       ¤       NaN              CURRENCY SIGN

In [57]:
engine = create_engine("sqlite:////home/marchall/documents/small_scripts/alt-codes/symbols.db", echo=False)
with engine.begin() as connection:
    table.to_sql("symbols", con=connection, if_exists="replace")

In [58]:
engine.execute("SELECT * from symbols LIMIT 10").fetchall()

[(0, '\xa0', 255.0, 'NO-BREAK SPACE'),
 (1, '¡', 173.0, 'INVERTED EXCLAMATION MARK'),
 (2, '¢', 155.0, 'CENT SIGN'),
 (3, '£', 156.0, 'POUND SIGN'),
 (4, '¤', None, 'CURRENCY SIGN'),
 (5, '¥', 157.0, 'YEN SIGN'),
 (6, '¦', None, 'BROKEN BAR'),
 (7, '§', 21.0, 'SECTION SIGN'),
 (8, '¨', None, 'DIAERESIS'),
 (9, '©', None, 'COPYRIGHT SIGN')]